/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: #000;
    color: #fff;
}

/* NAVBAR */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    z-index: 1000;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.navbar nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
    font-size: 14px;
    letter-spacing: 1px;
}

.navbar nav a:hover {
    color: #ff4d4d;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(rgba(120, 0, 0, 0.9),
            rgba(60, 0, 0, 0.9));
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.hero-content {
    text-align: center;
}

.hero-content h1 {
    font-size: 42px;
    letter-spacing: 2px;
}

.hero-content p {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 3px;
}

/* COMMON SECTION */
.section {
    min-height: 100vh;
    padding: 120px 15%;
    text-align: center;
}

.section h2 {
    font-size: 28px;
    margin-bottom: 20px;
    letter-spacing: 3px;
}

/* ABOUT */
.about {
    background: #0d0d0d;
}

.about p {
    max-width: 700px;
    margin: auto;
    line-height: 1.8;
    opacity: 0.9;
}

/* PROJECTS */
.projects {
    background: #140000;
}

.project-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.project-card {
    width: 220px;
    heigh